.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 115, 0);
  width: 100%;
  padding: 20px 40px;
}

.navbar {
  margin-left: 30px;
}

.navbar>a {
  font-size: larger;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

.navbar>a:hover {
  text-decoration: underline;
}

.navbar>a:global.active {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .navbar {
    display: none;
  }
}
